.login{
    margin-right: 10px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login .logo{
    width: 350px;
    margin-bottom: 20px;
}
.login img{
    width: 100%;
}
.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.login label{
    margin-bottom: 15px;  
}
.login input{
    margin-left: 10px; 
    flex: 1;
    font-size: 13px;
    color: #121212;
    border: none; 
    height: 30px;
    border-radius: 25px;
    padding-left: 15px
}
.login button{ 
    background: #1db864;
    height: 32px;
    border-radius: 16px;
    color: #fff;
    line-height: 32px;
    padding: 0 35px;
    border: none;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 1.11px;
}
.login p{
    margin: 15px 0;   
}
.login p a{
    margin-left: 10px;
    color: inherit;
    text-decoration: none;
    line-height: 32px;
}
.login:hover{
    color: #fff;
}

@media(max-width:768px){
    .login .logo{
        width:80%;
    }
}